body{
  width: 960px;
}

.delicious{
  width: 250px;
  float: left;
  height: 46px;
  position: relative;
}

.delicious>img{
  float: left;
  padding: 0%;
  margin: 0%;
}

#delishtext{
  float: left;
  font-size: 29.97px;
  margin-block-start: 0%;
  margin-block-end: 0%;
}

#bestblogtext {
  font-size: 12px;
  margin-block-start: 0%;
  margin-block-end: 0%;
  position: absolute;
  margin-top: 33px;
  margin-left: 43px;
}

.socialshare{
  width: 240px;
  float: right;
  margin-block-start: 10.5px;
  margin-block-end: 0%;
}

.social{
  display: inline-block;
  margin-right: 1em;
}

.share{
  display: inline-block;
}

.greybar>img{
  background: blue;
  width: 960px;
  height: 12px;
  margin-top: 12px;
  margin-bottom: 48px;
}

.title{
  position: absolute;
  width: 960px;
  /* height: 50px; */
}

.title>h1 {
  margin-block-start: 0%;
  margin-block-end: 0%;
}

.title>p {
  margin-block-start: 0%;
  margin-block-end: 0%;
  width: 300px;
  font-size: 10px;
  float: left;
}

.title>img {
  float: right;
  position: relative;
  margin-bottom: 10px;
}

#pizza>img {
  width: 960px;
  clear: left;
  margin-top: 90px;
}

.content>p {
  text-indent: 2em;
}

.recipe{
  width: 960px;
  height: 150px;
}

#paper {
}

li {
  list-style-type: none;
}

.strike {
  text-decoration: line-through;
}

.left {
  float: left;
}

.right {
  float: right;
}

.vanessa{
  background-color: pink;
}

button{
  background-color: sienna;
}

footer{
  background-color: hotpink;
}